header {
  top: 0;
  left: 0;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  z-index: 1000;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 3%,
    rgba(16, 9, 121, 0.9248074229691877) 100%,
    rgba(0, 9, 255, 1) 100%
  );
  min-height: 120px;
}

.header-container {
  font-family: "FiraGO", sans-serif;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.logo {
  position: relative;
  font-size: 40px;
  text-decoration: none;
  font-weight: 700;
  color: azure;
  margin: 10px;
}

.logoflex {
  display: flex;
  flex: 1;
  justify-content: flex-start;
}

.logo-p {
  color: #fff;
}

.searchbox {
  width: 200px;
  height: 40px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-style {
  width: 200px;
  height: 15px;
  padding: 10px;
  border-radius: 10px;
}

.header-loginflex {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}

.create-account {
  width: 140px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 18px;
  background-color: #790d00;
  border-radius: 10px;
  margin-top: 10px;
  transition: ease-in-out 1s;
  border: none;
}

.login {
  width: 90px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 18px;
  background-color: #790d00;
  border-radius: 10px;
  margin-top: 10px;
  transition: ease-in-out 1s;
  border: none;
}

.hamburger {
  display: none;
  align-items: center;
}

.header-nav {
  display: flex;
  flex-direction: row-reverse;
  flex: 1;
  justify-content: center;
}

.form-login {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

li {
  margin: 15px;
  font-size: 18px;
  text-decoration: none;
  color: azure;
}

li, a { color: #fff; }


.header-end-flex {display: flex;
flex-direction: row;
gap: 15px;
align-items: center;
justify-content: center;}