
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap");

@import url("https://free.bboxtype.com/embedfonts/?family=FiraGO:500");



.main-homepage {

    font-family: "FiraGO", sans-serif  ;
    

  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 5%,
    rgba(9, 94, 121, 0.989233193277311) 69%,
    rgba(0, 212, 255, 1) 100%
  );
}


.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  .games {
    display: table;
    padding: 0px 100px;
    width: 100%;
    min-height: 10vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 40px auto;
  }

  .popular-games {
    color: azure;
    margin-bottom: 20px;
    font-size: 30px;
  }


  .card-box {
    /* width: 100%; */
    min-height: 100%;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    float: left;
  }

  .card {
    width: 280px;
    border-radius: 10px;
    margin: 20px 40px;
    background-color: #1b2141;
    overflow: hidden;
  }

  .content {
    padding: 10px;
    
  }

  .content h4 {
    color: #fff;
    margin: 15px 0px;
  }

  .progress-line {
    position: relative;
    height: 10px;
    width: 100%;
    margin-bottom: 15px;
    border-radius: 10px;
    background: #35407e;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
  }

  .progress-line span {
    position: absolute;
    height: 100%;
    width: 80%;
    border-radius: 10px;
    background: #1aeeef;
    box-shadow: 0 0 10px #1aeeef;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
  }
  
  @keyframes animate {
    100% {
      transform: scaleX(1);
    }
  }

 
 

  .info {
    border-top: 2px solid #35407e;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .info p {
    font-size: 1em;
    color: #fff;
  }

  .info p span {
    color: #1aeeef;
  }
  

  .playnowstyle {
    display: inline-block;
    padding: 10px 20px;
    margin: 20px 0;
    border: 1px solid #1aeeef;
    text-decoration: none;
    font-weight: 700;
    border-radius: 5px;
    color: #432ea9;
    background-color: #fff;
    letter-spacing: 1px;
    cursor: pointer;
  }
  
  .playnowstyle:hover {
    background: #1aeeef;
    border: none;
    color: #050e2d;
    box-shadow: 0 0 10px #1aeeef;
  }

/*  images */



   .card-image1 { 
    background-image: url(../../global/images/card-image/god\ of\ war.jpg) ;
    background-position: top;
  background-size: 100%;
  background-repeat: no-repeat;
  max-width: 280px;
  min-height: 300px;
    
   }

   .card-image2 { 
    background-image: url(../../global/images/card-image/assassins\ creed.webp) ;
    background-position: top;
    background-size: 100%;
    background-repeat: no-repeat;
    max-width: 280px;
    min-height: 300px;
    
   }

   .card-image3 { 
    background-image: url(../../global/images/card-image/gta5.png) ;
    background-position: bottom;
    background-size: 100%;
    background-repeat: no-repeat;
    max-width: 280px;
    min-height: 300px;
    
   }

   .card-image4 { 
    background-image: url(../../global/images/card-image/days\ \ gone.jpg) ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 280px;
    min-height: 300px;
    
   }

   .card-image5 { 
    background-image: url(../../global/images/card-image/last\ of\ us.jpg) ;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 280px;
    min-height: 300px;
    
   }

   .card-image6 { 
    background-image: url(../../global/images/card-image/warzone.jpg) ;
    background-position: top;
    background-size: 100%;
    background-repeat: no-repeat;
    max-width: 280px;
    min-height: 300px;
    
   }

   

   .more-flex {
    display: flex;
    justify-content: center;
  }

   .show-more {
    border: 2px solid #fff;
    color: #fff;
    width: 120px;
    height: 40px;
    padding: 10px;
    border-radius: 7px;
    transition: ease-in-out 1s;
    text-align: center;
    background-color: #790d00;
    border: none;
    margin-bottom: 100px;
    margin-left: 100px;
    cursor: pointer;
  }
